@use "./utils/variables.scss" as *;

.size {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/sizes/sizes-bg-mob.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 50px 13px 25px;
  @media (min-width: $bp-tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/sizes/sizes-bg-tab.webp");
    min-height: 710px;
    padding: 47px 90px 0;
    gap: 20px;
  }
  @media (min-width: $bp-laptop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/sizes/sizes-bg-desk.webp");
    min-height: auto;
    height: 100vh;
    gap: 0;
    position: relative;
  }
  @media (min-width: $bp-desktop) {
    padding-top: calc(152px / 1080px * 100%);
    padding-left: calc(243px / 1920px * 100%);
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    @media (min-width: $bp-tablet) {
      font-size: 18px;
      br {
        display: none;
      }
    }
    @media (min-width: $bp-laptop) {
      position: absolute;
      top: calc(280px / 1080px * 100%);
      left: calc(545px / 1920px * 100%);
      text-align: left;
      text-transform: none;
      font-size: 22px;
      letter-spacing: 0.3em;
      br {
        display: block;
      }
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media (min-width: $bp-tablet) {
      gap: 30px;
    }
    @media (min-width: $bp-laptop) {
      position: absolute;
      top: calc(323px / 1080px * 100%);
      left: calc(263px / 1920px * 100%);
      flex-direction: row;
      gap: 0;
    }
    @media (min-width: $bp-desktop) {
      max-width: 1346px;
    }
  }
  &__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__square {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    @media (min-width: $bp-tablet) {
      line-height: 2;
    }
  }
  &__meters {
    font-family: "BrunoAce", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.75;
    text-align: center;
    color: #fff;

    padding: 65px;
    position: relative;
    @media (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.09;
      padding: 85px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2%;

      width: 100%;
      height: 100%;
      background: url("../img/sizes/size.svg") no-repeat center / contain;
    }
  }

  &__variant-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    @media (min-width: $bp-tablet) {
      gap: 25px;
    }
    @media (min-width: $bp-laptop) {
      width: auto;
      gap: 23px;
    }
  }

  &__variant-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media (min-width: $bp-tablet) {
      gap: 20px;
    }
    @media (min-width: $bp-laptop) {
      gap: 19px;
    }
  }

  &__variant-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 77.5px;
    background-color: transparent;
    border: none;
    @media (min-width: $bp-tablet) {
      width: 140px;
      gap: 5px;
    }
    @media (min-width: $bp-laptop) {
      gap: 0;
    }

    p {
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      color: #fff;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      @media (min-width: $bp-tablet) {
        font-size: 14px;
        width: 26px;
        height: 26px;
      }
      @media (min-width: $bp-laptop) {
        display: none;
      }
    }
    h3 {
      font-family: "BrunoAce", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      @media (min-width: $bp-tablet) {
        font-size: 24px;
      }
      @media (min-width: $bp-laptop) {
        font-size: 28px;
        margin-right: 10px;
      }
    }
  }

  &__line-hover-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    @media (min-width: $bp-tablet) {
      gap: 7px;
    }
    @media (min-width: $bp-laptop) {
      margin-right: 10px;
    }

    hr {
      border-color: #fff;
      width: 44px;
      @media (min-width: $bp-tablet) {
        width: 100px;
      }
      &.size__info-variant-hover-vip {
        width: 55.4px;
        @media (min-width: $bp-tablet) {
          width: 100px;
        }
        @media (min-width: $bp-laptop) {
          width: 80px;
        }
      }
    }
    svg {
      @media (min-width: $bp-tablet) {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    flex-direction: row;
    gap: 9px;
    font-family: "BrunoAce", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2.33;
    color: #fff;
    @media (min-width: $bp-tablet) {
      font-size: 64px;
      align-items: center;
      gap: 25px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 44px;
      margin-top: 50px;
      gap: 15px;
      margin-left: 30px;
    }
    @media (min-width: $bp-desktop) {
      margin-left: 185px;
      font-size: 64px;
      p {
        width: 350px;
      }
    }
    span {
      font-size: 14px;
      line-height: 3.43;
      letter-spacing: 0.1em;
      color: #fff;
      @media (min-width: $bp-tablet) {
        font-size: 24px;
        line-height: 2;
      }
    }
  }
}
