@use "./utils/variables.scss" as *;

.modal-about {
  display: none;
  @media (min-width: $bp-laptop) {
    opacity: 0;
    z-index: 95;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url(../img/about/about-modal-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 120px 90px 90px 130px;
    transform: translateX(100%);
    transition: all 0.4s ease;

    @media (min-width: $bp-desktop) {
      padding: 120px 177px 110px;
    }

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 71px;
      margin-top: 47px;
    }

    &__content-img {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 69px;
      padding: 151px 12px 52px;
      max-width: 409px;
      max-height: 700px;

      & .hero__text-title-wrapp {
        max-width: 380px;
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 14px;
        }
      }
    }

    &__content-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-width: 1022px;
    }
    &__content-text-title {
      font-weight: 400;
      font-size: 26px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 42px;
      @media (min-width: $bp-desktop) {
        margin-left: 58px;
        font-size: 36px;
      }
    }

    &__content-text-list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 28px;
      list-style: disc;
      color: #fff;
    }

    &__content-text-item {
      padding-left: 58px;

      h3 {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 28px;
        @media (min-width: $bp-desktop) {
          font-size: 24px;
        }
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.67;
        text-transform: uppercase;
        color: #fff;
        @media (min-width: $bp-desktop) {
          font-size: 18px;
        }
        span {
          color: #ffac30;
        }
      }
    }
    hr {
      border: 1px solid rgba(255, 255, 255, 0.25);
      width: 100%;
      margin: 40px 0;
    }

    &__back-home-btn {
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 28px;
      font-family: "OpenSans", sans-serif;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.45em;
      text-transform: uppercase;
      color: #ffac30;

      svg {
        fill: transparent;
        stroke: #ffac30;
        stroke-width: 2px;
        flex-shrink: 0;
      }
    }
  }
}
