@use "./utils/variables.scss" as *;

.gallery-mob-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 120;
  opacity: 0;
  transform: translateX(100%);
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    svg {
      stroke: rgba(0, 0, 0, 0.15);
      stroke-width: 2px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    hr {
      border: 1px solid rgba(0, 0, 0, 0.15);
      width: 100%;
      margin: 27px 0 20px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffac30;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #000;
  }
}
