<section class="section-form swiper-slide">
  <div class="about">
    <div class="about__content-wrapper">
      <p class="about__title">
        elite renovation of your <br />
        apartment
      </p>
      <ul class="about__content-list">
        <li class="about__content-item">
          <p class="about__item-num">18</p>
          <p class="about__item-text">
            years <br />
            on the market
          </p>
        </li>
        <li class="about__content-item">
          <p class="about__item-num">237</p>
          <p class="about__item-text">
            completed <br />
            projects
          </p>
        </li>
        <li class="about__content-item">
          <p class="about__item-num">50</p>
          <p class="about__item-text">employees</p>
        </li>
      </ul>
      <button class="about__btn">
        more info about us
        <svg width="115" height="21">
          <use href="@img/icons.svg#about--svg--arrow-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  @@include('components/form.html', {})
</section>
