<div class="left-panel">
  <a href="./" class="left-panel__logo">
    <img src="@img/header/logo 6.webp" alt="Logo" />
  </a>
  <p class="left-panel__text">apartment renovation</p>
  <hr class="left-panel__line" />
  <ul class="left-panel__social-list">
    <li>
      <a href="#" class="left-panel__social-link">
        <svg width="10" height="20">
          <use href="@img/icons.svg#header--facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="left-panel__social-link">
        <svg width="17.5" height="17.5">
          <use href="@img/icons.svg#header--instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="left-panel__social-link">
        <svg width="17" height="14">
          <use href="@img/icons.svg#header--telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="left-panel__social-link">
        <svg width="21" height="15">
          <use href="@img/icons.svg#header--youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
