<section class="section-form swiper-slide">
  <div class="services">
    <ul class="services__list">
      <li class="services__item services__item-1">
        <p class="services__title">Video-surveillance and alarm</p>
      </li>
      <li class="services__item services__item-2">
        <p class="services__title">Selection of furniture</p>
      </li>
      <li class="services__item services__item-3">
        <p class="services__title">Household appliances</p>
      </li>
      <li class="services__item services__item-4">
        <p class="services__title">Ultra service</p>
      </li>
      <li class="services__item services__item-5">
        <p class="services__title">Online broadcast of repair</p>
      </li>
    </ul>
    <button class="services__btn-mob">
      more services
      <svg class="services__icon-mob" width="23" height="14">
        <use href="@img/icons.svg#services--arrow-services"></use>
      </svg>
    </button>
  </div>
  <div class="main-form-wrapper">@@include('components/form.html', {})</div>
</section>
