<section class="section-form swiper-slide">
  <div class="size">
    <p class="size__title">
      Select an area size & <br />
      one of the service packages:
    </p>
    <div class="size__content-wrapper">
      <div class="size__circle">
        <p class="size__square">m²</p>
        <h3 class="size__meters">64</h3>
      </div>
      <div class="size__variant-wrapper">
        <div class="size__variant-btn-wrapper">
          <button class="size__variant-btn">
            <p>i</p>
            <h3>elite</h3>
          </button>
          <button class="size__variant-btn">
            <p>i</p>
            <h3>vip</h3>
          </button>
          <button class="size__variant-btn">
            <p>i</p>
            <h3>extra</h3>
          </button>
        </div>
        <div class="size__line-hover-wrapper">
          <hr class="size__line-hover-elite" />
          <svg width="5" height="5" class="size__line-hover-elite-icon">
            <use href="@img/icons.svg#sizes--dot"></use>
          </svg>
          <hr
            class="size__info-variant-hover-elite size__info-variant-hover-vip"
          />
          <svg width="5" height="5" class="size__line-hover-vip-icon">
            <use href="@img/icons.svg#sizes--dot"></use>
          </svg>
          <hr
            class="size__info-variant-hover-vip size__info-variant-hover-extra"
          />
          <svg width="5" height="5" class="size__line-hover-extra-icon">
            <use href="@img/icons.svg#sizes--dot"></use>
          </svg>
          <hr class="size__info-variant-hover-extra" />
        </div>
      </div>
      <div class="size__price-wrapper">
        <p class="size__price-num">233 000</p>
        <span>uan</span>
      </div>
    </div>
  </div>
  @@include('components/form.html', {})
</section>
