<section class="section-form swiper-slide">
  <div class="step">
    <p class="step__title">6 steps to your WALTER house:</p>
    <div class="step__content-wrapper">
      <div class="step__content-svg">
        <h3>3</h3>
      </div>
      <div class="step__content-variant">
        <div class="step__content-title">
          <svg class="step__content-icon" width="49" height="60">
            <use href="@img/icons.svg#step--svg--step1-icon"></use>
          </svg>
          <h2>DRAFTING AN ESTIMATE</h2>
        </div>
        <div class="step__content-text-wrapper">
          <svg class="step__content-text-icon" width="24" height="30">
            <use href="@img/icons.svg#step--svg--arrow-step"></use>
          </svg>
          <p class="step__content-text">
            DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION
            OF THE ESTIMATE
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-form-wrapper desk-form">
    @@include('components/form.html', {})
  </div>
</section>
