<section class="swiper-slide">
    <ul class="style">
      <li class="style__item style__item-elite">
        <h2 class="style__item-title">Elite</h2>
        <div class="style__item-hover">
          <p class="style__item-hover-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="style__item-hover-btn">
            <button class="style__item-hover-btn-gall">
              <p>gallery</p>
              <svg width="126" height="32">
                <use href="@img/icons.svg#style--arrow-style"></use>
              </svg>
            </button>
            <button class="style__item-hover-btn-services">
              <p>list of services</p>
              <svg width="77" height="21">
                <use href="@img/icons.svg#style--arrow-style-shot"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="style__item style__item-vip">
        <h2 class="style__item-title">vip</h2>
        <div class="style__item-hover">
          <p class="style__item-hover-text">
            THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR THOSE
            WHO WANTS TO GET THE PERFECT RESULT.
          </p>
          <div class="style__item-hover-btn">
            <button class="style__item-hover-btn-gall">
              <p>gallery</p>
              <svg width="126" height="32">
                <use href="@img/icons.svg#style--arrow-style"></use>
              </svg>
            </button>
            <button class="style__item-hover-btn-services">
              <p>list of services</p>
              <svg width="77" height="21">
                <use href="@img/icons.svg#style--arrow-style-shot"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="style__item style__item-extra">
        <h2 class="style__item-title">extra</h2>
        <div class="style__item-hover">
          <p class="style__item-hover-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="style__item-hover-btn">
            <button class="style__item-hover-btn-gall">
              <p>gallery</p>
              <svg width="126" height="32">
                <use href="@img/icons.svg#style--arrow-style"></use>
              </svg>
            </button>
            <button class="style__item-hover-btn-services">
              <p>list of services</p>
              <svg width="77" height="21">
                <use href="@img/icons.svg#style--arrow-style-shot"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
</section>
