<div class="modal-about">
  <div class="modal-about__content">
    <div class="modal-about__content-img">
      <img
        width="344"
        height="310"
        src="@img/about/about-modal-logo.webp"
        alt="logo"
      />
      <div class="hero__text-title-wrapp">
        <h1 class="hero__title-walter">walter</h1>
        <p class="hero__subtitle">your personal</p>
        <h1 class="hero__title-house">house</h1>
      </div>
    </div>
    <div class="modal-about__content-text-wrapper">
      <h2 class="modal-about__content-text-title">
        Place for a short slogan here Place for a short slogan here
      </h2>
      <ul class="modal-about__content-text-list">
        <li class="modal-about__content-text-item">
          <h3 class="modal-about__content-text-item-title">
            Place for a subheading
          </h3>
          <p>
            <span>The importance of these problems is so obvious,</span> that
            the new model of organizational activity contributes to the
            preparation and implementation of development forms. It should not
            be forgotten, however, that the framework and place of training
            contributes to the preparation and implementation of new proposals.
            Daily practice shows that the constant advocacy of our activities
            requires the definition and clarification of the relevant conditions
            of revitalization. Translated with DeepL.com (free version)
          </p>
        </li>
        <li class="modal-about__content-text-item">
          <h3 class="modal-about__content-text-item-title">
            Place for a subheading
          </h3>
          <p>
            <span>The importance of these problems is so obvious,</span> that
            the new model of organizational activity contributes to the
            preparation and implementation of development forms. It should not
            be forgotten, however, that the framework and place of training
            contributes to the preparation and implementation of new proposals.
            Daily practice shows that the constant advocacy of our activities
            requires the definition and clarification of the relevant conditions
            of revitalization. Translated with DeepL.com (free version)
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <button class="modal-about__back-home-btn">
    back to main page
    <svg width="135" height="21">
      <use href="@img/icons.svg#call--arrow-call"></use>
    </svg>
  </button>
</div>
