<div class="gallery gallery-modal">
  <div class="gallery-swiper swiper-gallery-modal">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery__slide-1">
        <div class="gallery__bg-slide-1">
          <div class="gallery__point">
            <div class="gallery__point-1">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-2">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-3">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-4">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-5">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery__slide-2">
        <div class="gallery__bg-slide-2">
          <div class="gallery__point">
            <div class="gallery__point-1">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-2">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-3">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery__slide-3">
        <div class="gallery__bg-slide-2">
          <div class="gallery__point">
            <div class="gallery__point-1">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-2">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-3">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery__slide-4">
        <div class="gallery__bg-slide-2">
          <div class="gallery__point">
            <div class="gallery__point-1">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-2">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
            <div class="gallery__point-3">
              <span>
                <svg width="14" height="14">
                  <use href="@img/icons.svg#gallery--point"></use>
                </svg>
              </span>
              <div class="gallery__point-wrapper">
                <div class="gallery__point-1-line-text">
                  Dismantling and Erection of interior partitions
                </div>
                <div class="gallery__point-1-line-dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery__swipe-nav">
      <div class="gallery__btn-prev">
        <svg width="25" height="31">
          <use href="@img/icons.svg#gallery--prev-btn"></use>
        </svg>
        <hr />
      </div>

      <div class="gallery__nav-pagination">
        <span class="gallery__nav-pagination-current current-pagination"></span>
        <hr />
        <span class="gallery__nav-pagination-total total-pagination"></span>
      </div>

      <div class="gallery__btn-next">
        <hr />
        <svg width="25" height="31">
          <use href="@img/icons.svg#gallery--next-btn"></use>
        </svg>
      </div>
    </div>
    <button class="gallery__close-btn gallery-modal-close-mob">
      <svg width="21" height="21">
        <use href="@img/icons.svg#sizes--close-modal"></use>
      </svg>
    </button>
    <button class="gallery__close-btn-desk gallery-modal-close">
      back to the styles
      <svg width="135" height="21">
        <use href="@img/icons.svg#about--svg--arrow-icon"></use>
      </svg>
    </button>
  </div>
  <div class="gallery__form">@@include('components/form.html', {})</div>
</div>
