<div class="gallery-mob-modal">
  <button class="gallery-mob-modal__close-btn">
    <svg width="21" height="21">
      <use href="@img/icons.svg#sizes--close-modal"></use>
    </svg>
  </button>
  <div class="gallery-mob-modal__content">
    <h2 class="gallery-mob-modal__title">Styles</h2>
    <hr />
    <p class="gallery-mob-modal__text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu.
    </p>
  </div>
</div>
