<div class="size-modal-mob">
  <button class="size-modal-mob__close-btn">
    <svg width="21" height="21">
      <use href="@img/icons.svg#sizes--close-modal"></use>
    </svg>
  </button>
  <div class="size-modal-mob__info">
    <h2 class="size-modal-mob__info-title">
      <span></span>
      Style
    </h2>
    <hr />
    <div class="size-modal-mob__info-desc">
      <p></p>
      <ul>
        <li>Dismantling and Erection of interior partitions</li>
        <li>
          Leveling of walls under the beacon, finishing of walls under wallpaper
        </li>
        <li>Making 90 degree angles</li>
        <li>Electrical installation works (according to the project)</li>
        <li>Installation of low-current wiring (internet, antenna)</li>
        <li>Installation of water supply and sewerage</li>
        <li>Waterproofing of wet areas</li>
        <li>Pouring floor screed (up to 10 cm, sandcrete/ceramzite)</li>
        <li>Preparation of walls for wallpapering</li>
        <li>Wallpaper pasting</li>
        <li>Laying laminate flooring on a carpet pad</li>
        <li>
          Laying of tiles on the floor and walls in the bathroom and toilet (up
          to 5m2 on the floor)
        </li>
        <li>Installation of PVC floor skirting board</li>
        <li>Stretch ceiling</li>
        <li>Interior door installation</li>
        <li>Installation of a bathtub / shower cabin</li>
        <li>Mounting the sink</li>
        <li>Installation of the revision hatch in the riser pipe</li>
        <li>GKL ceiling installation</li>
        <li>Cleaning after renovation</li>
      </ul>
    </div>
  </div>
</div>
