<div class="step-modal">
  <h2 class="step-modal__title">steps & icons</h2>
  <ul class="step-modal__list">
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="75" height="92">
          <use href="@img/icons.svg#step--svg--step1-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">LEAVE AN APPLICATION</h3>
      </div>
      <p class="step-modal__item-text">
        LEAVE AN APPLICATION BY PHONE OR ON OUR WEBSITE
      </p>
    </li>
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="100" height="100">
          <use href="@img/icons.svg#step--svg--step2-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">CHECK OUT OF THE MEASURER</h3>
      </div>
      <p class="step-modal__item-text">
        OUR SPECIALIST COMES TO YOU AT THE OBJECT FOR MEASURING AND PHOTO FIXING
      </p>
    </li>
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="79" height="78">
          <use href="@img/icons.svg#step--svg--step3-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">DRAFTING AN ESTIMATE</h3>
      </div>
      <p class="step-modal__item-text">
        DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION OF
        THE ESTIMATE
      </p>
    </li>
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="93" height="92">
          <use href="@img/icons.svg#step--svg--step4-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">SIGNING THE CONTRACT</h3>
      </div>
      <p class="step-modal__item-text">
        AGREEMENT OF THE COST AND DATE OF COMPLETION OF WORKS, SIGNING OF THE
        CONTRACT
      </p>
    </li>
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="75" height="87">
          <use href="@img/icons.svg#step--svg--step5-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">BEGINNING OF WORK</h3>
      </div>
      <p class="step-modal__item-text">
        START OF REPAIR WORKS UNDER THE SUPERVISION OF A PERSONAL SUPERVISOR
      </p>
    </li>
    <li class="step-modal__item">
      <div class="step-modal__icon-wrapper">
        <svg width="75" height="85">
          <use href="@img/icons.svg#step--svg--step6-icon"></use>
        </svg>
        <h3 class="step-modal__item-title">COMPLETION</h3>
      </div>
      <p class="step-modal__item-text">
        COMPLETION OF REPAIRS, REMOVAL OF CONSTRUCTION rubbish
      </p>
    </li>
  </ul>
  <button class="step-modal__back-home-btn">
    back to step
    <svg width="135" height="21">
      <use href="@img/icons.svg#call--arrow-call"></use>
    </svg>
  </button>
</div>
