<div class="style-list-modal">
  <button class="style-list-modal__btn-close">
    <svg width="32" height="34">
      <use href="@img/icons.svg#sizes--close-modal"></use>
    </svg>
  </button>
  <div class="style-list-modal__content">
    <h2 class="style-list-modal__title"></h2>
    <div class="style-list-modal__text-list-wrapper">
      <h3 class="style-list-modal__wrapper-subtitle">from 233 000 UAH.</h3>
      <hr />
      <ul class="style-list-modal__list">
        <li class="style-list-modal__item">
          Development of individual Design project
        </li>
        <li class="style-list-modal__item">
          Accompaniment of the engineer and designer throughout the repair
        </li>
        <li class="style-list-modal__item">
          Assistance in the selection of furniture, appliances, plumbing,
          finishing materials
        </li>
        <li class="style-list-modal__item">
          Organization of the purchase of materials
        </li>
        <li class="style-list-modal__item">
          Dismantling and Erection of interior partitions
        </li>
        <li class="style-list-modal__item">
          Leveling of walls under the beacon, finishing of walls under wallpaper
        </li>
        <li class="style-list-modal__item">90 degree corners removal</li>
        <li class="style-list-modal__item">
          Electrical works (according to the project)
        </li>
        <li class="style-list-modal__item">
          Installation of low-current wiring (Internet, antenna)
        </li>
        <li class="style-list-modal__item">
          Video intercom, video surveillance cameras
        </li>
        <li class="style-list-modal__item">
          Installation of water supply and sewerage (Rehau pipes, EXTRA class
          materials)
        </li>
        <li class="style-list-modal__item">Waterproofing of wet areas</li>
        <li class="style-list-modal__item">Pouring floor screed</li>
        <li class="style-list-modal__item">Finishing of walls</li>
        <li class="style-list-modal__item">
          Laying tiles on the floor and walls in the bathroom and toilet (up to
          5m2 on the floor)
        </li>
        <li class="style-list-modal__item">
          Installation of PVC floor skirting
        </li>
        <li class="style-list-modal__item">
          Installation of PVC floor skirting
        </li>
        <li class="style-list-modal__item">
          Installation of PVC floor skirting
        </li>
        <li class="style-list-modal__item">Ceiling stretching</li>
        <li class="style-list-modal__item">Installation of interior doors</li>
        <li class="style-list-modal__item">
          Installation of a bathtub / shower cabin
        </li>
        <li class="style-list-modal__item">Cleaning after repairs</li>
      </ul>
    </div>
  </div>
</div>
