<div class="call">
  <div class="call__close-btn-wrapper">
    <button class="call__close-btn">
      <svg width="23" height="24">
        <use href="@img/icons.svg#call--close"></use>
      </svg>
    </button>
    <hr />
  </div>
  <div class="call__content-wrapper">
    <form class="call__content-form">
      <div class="call__content-form-input">
        <input
          type="text"
          name="name"
          placeholder="Your Name"
          autocomplete="off"
        />
      </div>
      <div class="call__content-form-input">
        <input
          type="tel"
          name="phone"
          placeholder="Your phone number"
          autocomplete="off"
        />
      </div>
      <button class="call__content-form-btn" type="submit">
        order a call
        <svg width="135" height="21">
          <use href="@img/icons.svg#call--arrow-call"></use>
        </svg>
      </button>
    </form>
    <div class="call__content-respond">
      <h2 class="call__content-title">Thank you for your application!</h2>
      <p class="call__content-subtitle">Our manager will contact you soon.</p>
      <button class="call__content-btn-return">
        back to main page
        <svg width="135" height="21">
          <use href="@img/icons.svg#call--arrow-call"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
