<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="./" class="header__logo-link">
        <img src="@img/header/logo 6.webp" alt="Logo" />
      </a>
      <button class="header__menu-btn open-menu">
        <svg width="30" height="16">
          <use href="@img/icons.svg#header--menu-icon"></use>
        </svg>
      </button>
      <a class="header__tel" href="tel:+380971234567">+38 (097) 123 45 67</a>
    </div>
    <div class="header__call">
      <p class="header__call-text">request for a call</p>
      <button class="header__call-btn">
        <svg class="header__call-icon" width="60" height="60">
          <use href="@img/icons.svg#header--call-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <hr class="header__line" />
</header>


