<div class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__item-link" href="#">styles of rennovation</a>
    </li>
    <li class="menu__item">
      <a class="menu__item-link" href="#">Costs</a>
    </li>
    <li class="menu__item">
      <a class="menu__item-link" href="#">5 steps to WALTER HOUSE</a>
    </li>
    <li class="menu__item">
      <a class="menu__item-link" href="#">additional services</a>
    </li>
    <li class="menu__item">
      <a class="menu__item-link" href="#">BLOG</a>
    </li>
  </ul>
  <div class="menu__info">
    <div class="menu__info-top">
      <img src="@img/header/logo 6.webp" alt="Logo" />
      <div class="menu__info-btn">
        <p class="menu__info-text">turnkey construction of houses</p>
        <svg width="248" height="21">
          <use href="@img/icons.svg#header--arrow-menu"></use>
        </svg>
      </div>
    </div>
    <ul class="menu__info-list">
      <li class="menu__info-item">
        <svg width="19" height="26">
          <use href="@img/icons.svg#header--location-icon"></use>
        </svg>
        <p class="menu__info-item-text">Kiev, st. Getman Street 101</p>
      </li>
      <li class="menu__info-item">
        <svg width="21" height="21">
          <use href="@img/icons.svg#header--clock-icon"></use>
        </svg>
        <p class="menu__info-item-text">
          Mon-Fri: 9:00 - 19:00, <br />
          Sat: 10:00 - 17:00
        </p>
      </li>
      <li class="menu__info-item">
        <svg width="25" height="22">
          <use href="@img/icons.svg#header--email-icon"></use>
        </svg>
        <p class="menu__info-item-text">info@dhs.com</p>
      </li>
      <li class="menu__info-item">
        <svg width="21" height="21">
          <use href="@img/icons.svg#header--phone-icon"></use>
        </svg>
        <p class="menu__info-item-text">+38 (097) 123 45 67</p>
      </li>
    </ul>
  </div>
</div>
