@use "./utils/variables.scss" as *;
@use "./fonts.scss";
@use "./base.scss";

@use "./components/_header.scss";

@use "./components/form.scss" as *;
@use "./components/menu.scss" as *;
@use "./components/call.scss";
@use "./components/modal/about.scss" as *;
@use "./components/modal/gallery.scss" as *;
@use "./components/modal/size-modal-mob.scss" as *;

@use "./components/main/left-panel.scss" as *;
@use "./components/main/hero.scss";
@use "./components/main/about.scss";
@use "./components/main/swiperMain.scss";
@use "./components/main/style.scss";
@use "./components/main/size.scss";
@use "./components/main/step.scss";
@use "./components/main/services.scss";
